/Automatadepila/nbproject/private/
/Automatadepila/build/
/test/nbproject/private/
/test2/nbproject/private/
/test2/build/
/eje/nbproject/private/
/eje/build/
/Automatadepila/dist/
/ExamenOrdinarioPOO/target/
